/* @import url("https://use.typekit.net/khe3qib.css"); */
@import url("https://use.typekit.net/yjx8jsv.css");
@import url("../icomoon/style.css");
* {
	box-sizing: border-box;
}
html, body {
	overflow-x: hidden;
}
body {
	font-family: "futura-pt-condensed", sans-serif;
	font-size: 20px;
	margin: 0;
}
header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 3;
}
header div.dropdown {
	background-color: #af1946;
	box-shadow: 0px -3px 0 inset;
	max-height: 0;
	overflow: hidden;
	transition: max-height .5s ease-in-out;
	z-index: 3;
	position: relative;
}
header.dropdown-open div.dropdown {
	max-height: 500px;
}
.dropdown-inner {
	padding: .5rem;
}
header div.dropdown .dropdown-inner:after {
	content: "";
	clear: both;
	display: table;
}
header .empty-posts .featured-posts {
	display: none;
}
header .empty-posts .empty {
	display: block;
	width: 100%;
	max-width: 768px;
	float: left;
}
.community-actions {
	border-left: solid #000 1px;
	width: 100%;
	max-width: 192px;
	display: block;
	float: right;
}
.community-actions ul {
	list-style-type: none;
	padding: 0 .5rem;
	margin: 0;
}
.community-actions li:not(.community-actions li:last-child) {
	margin-bottom: .5rem;
}
.community-actions li .community-btn {
	background-color: #cbb19e;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	padding: .5rem;
	display: block;
	transition: .5s;
}
.community-actions li .community-btn:hover {
	background-color: #660b12;
	color: #fff;
}
.navbar-wrapper {
	background-color: #cbb19e;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0px 1px 4px rgb(0 0 0 / 5%);
	position: relative;
	z-index: 3;
	overflow: hidden;
}
.navbar-wrapper:before {
	content: "";
	background-color: rgba(102, 11, 18, .2);
	width: 70px;
	height: 250%;
	position: absolute;
	left: 189.4995px;
	transform: rotate(45deg);
}
.navbar-wrapper:after {
	content: "";
	background-color: rgba(102, 11, 18, .1);
	width: 20px;
	height: 250%;
	position: absolute;
	left: 284.24925px;
	transform: rotate(45deg);
}
.navbar-wrapper a.ts-logo-wrapper {
	width: 217px;
	height: 41px;
	display: inline-block;
	z-index: 2;
}
.navbar-wrapper .ts-logo-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 2;
}
.navbar-wrapper .navbar {
	font-size: 1.25rem;
	text-transform: uppercase;
}
.navbar-wrapper .navbar ul {
	list-style-type: none;
	margin: 0;
}
.navbar-wrapper .navbar ul:not(.community-actions-mobile) {
	padding: 0;
}
.navbar-wrapper .navbar ul li {
	letter-spacing: .5px;
	display: inline-block;
	margin-right: .5rem;
}
.navbar-wrapper .navbar ul li:last-child {
	margin-right: 0;
}
.navbar-wrapper .navbar ul li a {
	color: #000;
	text-decoration: none;
}
.navbar-wrapper .navbar ul li a:hover {
	color: #af1946;
}
.navbar-wrapper .navbar ul li a.dropdown {
	padding-right: 1rem;
	position: relative;
}
.navbar-wrapper .navbar ul li a.dropdown:after {
	content: "";
	border: solid 4px;
	border-color: #000 transparent transparent transparent;
	position: absolute;
	right: .25rem;
	top: 50%;
	transform: translateY(-25%);
}
.navbar-wrapper .navbar ul li a.dropdown:hover:after {
	border-color: #af1946 transparent transparent transparent;
}
.dropdown-open .navbar-wrapper .navbar a.dropdown {
	color: #af1946;
}
.dropdown-open .navbar-wrapper .navbar a.dropdown:after {
	border-color: #af1946 transparent transparent transparent;
	transform: rotate(-180deg) translateY(-25%);
	top: 12.5%;
}
.community-actions-mobile {
	display: none;
}
.community-dash {
	background: #af1946;
	padding: .5rem;
	width: 100%;
	max-width: 173px;
	height: 82px;
	position: absolute;
	left: 45.5px;
	bottom: 0px;
	transition: .5s linear;
	z-index: 2;
}
.community-dash:after {
	content: "";
	background-image: url("../img/dashboard_arrow.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	bottom: -22px;
	width: 173px;
	left: 0;
	height: 22px;
	cursor: pointer;
}
.community-dash.dash-open {
	height: 87px;
	bottom: -87px;
}
.community-dash:hover:after, .dash-open:after {
	background-position: 0 -28px;
}
.community-dash ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.community-dash ul li {
	margin: 0;
}
.community-dash ul li:first-child {
	margin-bottom: .25rem;
}
.community-dash ul li .community-btn {
	background-color: #cbb19e;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	padding: .25rem;
	display: block;
	transition: .5s;
}
.community-dash ul li .community-btn:hover {
	background-color: #660b12;
	color: #fff;
}
main {
	margin-top: 74px;
}
.ts-banner {
	min-height: calc(100vh - 74px);
	position: relative;
}
.slide-1 {
	background-image: url("../img/music_red_taylorsversion.jpg");
	background-size: cover;
	background-position: center;
}
.slide-1:after {
	content: "";
	background-image: url("../img/red_falloverlay.jpg");
	background-size: cover;
	background-position: center;
	opacity: .5;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.slide-1 a {
	background-image: url("../img/red_taylorsversion.png");
	background-size: 100%;
	width: 200px;
	height: 208px;
	text-indent: -9999px;
	position: absolute;
	left: 62.5%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	z-index: 1;
}
.slide-feature a {
	text-decoration: none;
}
.slide-feature img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 90%;
}
.slide-2 {
	background-image: url("../img/ibetyouthinkaboutme_herov2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.slide-2:after, .slide-3:after {
	content: "";
	background-color: rgba(0,0,0,.5);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.slide-2 .slide-layer.layer-1, .slide-3 .slide-layer.layer-1 {
	color: #fff;
	font-style: italic;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	left: 4rem;
	top: 50%;
	transform: translate(0,-50%);
	max-width: 378.99px;
	z-index: 1;
}
.slide-2 .slide-layer.layer-1 .layer-1-header, .slide-3 .slide-layer.layer-1 .layer-1-header {
	font-size: 3rem;
}
.slide-2 .slide-layer.layer-1 .layer-1-body, .slide-3 .slide-layer.layer-1 .layer-1-body {
	font-size: 1.5rem;
}
.slide-2 a, .slide-3 a {
	text-decoration: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.slide-3 {
	background-image: url("../img/alltoowell_shortfilm_video.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.slide-4 {
	background-image: url("../img/slide_2.jpg");
	background-size: cover;
	background-position: center;
}
.slide-4 a {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-indent: -9999px;
	z-index: 1;
}
.slide-4 .sms-cta {
	color: #fff;
	position: absolute;
	top: 25%;
	left: 20%;
	transform: translate(-50%,-50%);
	width: 25%;
}
.slide-4 .sms-cta-header {
	font-size: 3.5rem;
	font-weight: 300;
	font-style: italic;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
}
.slide-4 .sms-cta-subtitle {
	font-size: 1.5rem;
	padding-left: 3rem;
}
#home .owl-nav button, #news .owl-nav button, #photos .owl-nav button {
	background-color: #cbb19e;
	font-size: 18px;
	width: 25px;
	height: 25px;
	outline: none;
}
#home .owl-nav button span, #news .owl-nav button span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	height: 25px;
}
#about {
	background-image: url("../img/about_bg.jpg");
	/* background-size: 139vw; */
	background-size: cover;
	background-position: /* 145vw */ 100vw top;
	border-top: .5rem solid #ed0d24;
	padding: 2rem;
}
#about h1 {
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
}
#about h1 a {
	color: #fff;
	text-decoration: none;
}
#about h1 a span {
	color: #af1946;
	transform: skew(-7deg);
	display: inline-block;
}
.bio-wrapper {
	max-width: 450px;
	background-color: #fff;
	padding: 2rem;
	margin-top: 1rem;
}
.bio-wrapper h2 {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0;
}
.bio-wrapper p {
	margin-top: .5rem;
	margin-bottom: 0;
}
#events {
	background-image: url("../img/tslive_bg.png");
	/* background-size: 115vw; */
	background-size: cover;
	padding: 2.5rem;
	position: relative;
}
#events:after {
	background-color: #fff;
	opacity: .2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.note-wrapper {
	max-width: 650px;
	margin-left: auto;
	position: relative;
	z-index: 1;
}
.note-wrapper h1 {
	color: #fff;
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
}
.note-wrapper h1 span {
	color: #af1946;
	transform: skew(-7deg);
	display: inline-block;
}
.note-wrapper .note {
	background-color: #fff;
	color: #000;
	padding: 1.5rem;
	margin-top: 1rem;
}
.note-wrapper .note p:not(.small-text p) {
	margin-top: .5rem;
	margin-bottom: 0;
}
.note-wrapper .note p:not(.small-text p):first-child {
	margin-top: 0;
}
.small-text {
	font-size: .85rem;
	margin-top: .5rem;
}
.small-text p {
	margin: 0;
}
.small-text p a {
	color: #af1946;
	text-decoration: none;
}
.small-text p a:hover {
	text-decoration: underline 1px #af1946;
}
#news {
	padding: 1.5rem;
}
#news .empty {
	display: none;
}
#news .owl-carousel {
	max-width: 889.1875px; /* 793.1875px */;
	margin: auto;
}
#news .owl-stage-outer {
	padding: 1rem 0;
	justify-content: center;
}
#news .owl-item {
	padding: 0 1rem;
}
#news .owl-prev {
	left: -2rem;
}
#news .owl-next {
	right: -2rem;
}
#news .news-item {
	box-shadow: 0 0 1rem rgba(0,0,0,.5);
	/* width: 243.062px;
	max-width: 243.062px; */
	width: 100%;
	margin: auto;
}
.news-thumb {
	padding-top: 56.25%;
	position: relative;
}
.news-thumb img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.news-content {
	padding: .5rem;
}
.news-content h3 {
	font-weight: 400;
	text-transform: uppercase;
	text-overflow: ellipsis;
	letter-spacing: .75px;
	white-space: nowrap;
	margin: 0;
	overflow: hidden;
}
.news-content h3 a {
	color: #000;
	text-decoration: none;
}
.news-content h3 a:hover {
	color: #af1946;
}
.news-excerpt {
	background-color: #d0b58f;
	font-family: "futura-pt", sans-serif;
	font-size: .75rem;
	text-overflow: ellipsis;
	padding: .5rem;
	height: 62px;
	overflow: hidden;
}
.news-excerpt p {
	margin: 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.news-link {
	background-color: #660b12;
	text-align: right;
	padding: .5rem;
}
.news-link a {
	color: #cbb19e;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	display: inline-block;
}
.news-link a:hover {
	color: rgba(203, 177, 158, .75);
}
#videos {
	border-top: .5rem solid #af1946;
}
.video-thumb {
	padding-top: 56.25%;
	position: relative;
}
.video-thumb img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.video-thumb .video-title {
	background-color: rgba(0,0,0,.3);
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.video-title-inner {
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.video-1 .video-title-inner {
	left: 27.5%;
}
.video-2 .video-title-inner {
	left: 50%;
}
.video-3 .video-title-inner {
	left: 37.5%;
}
.video-4 .video-title-inner {
	left: 75%;
}
.video-5 .video-title-inner {
	left: 37.5%;
}
.video-6 .video-title-inner {
	left: 65%;
}
.video-7 .video-title-inner {
	left: 35%;
}
.video-8 .video-title-inner {
	left: 50%;
}
.video-9 .video-title-inner {
	left: 15%;
}
.video-10 .video-title-inner {
	left: 20%;
}
.video-11 .video-title-inner, .video-12 .video-title-inner {
	left: 50%;
}
.video-title-inner h2 {
	font-size: 2.25rem;
	font-weight: 400;
	margin: 0;
	margin-bottom: .5rem;
}
.play-video {
	background-color: #660b12;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .5px;
	padding: .5rem 1rem .5rem 2rem;
	position: relative;
	display: inline-block;
	transition: .5s;
}
.play-video:before {
	content: "";
	border-style: solid;
	border-width: 5px 0px 5px 8px;
	border-color: transparent transparent transparent #fff;
	position: absolute;
	left: 1rem;
	top: 50%;
	display: inline-block;
	transform: translateY(-50%);
	transition: .5s;
}
.play-video:hover {
	background-color: #cbb19e;
	color: #000;
}
.play-video:hover:before {
	border-color: transparent transparent transparent #000;
}
.embed {
	display: none;
}
.embed-responsive {
	padding-top: 56.25%;
	position: relative;
}
.embed-responsive iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.embed-responsive span {
	display: none;
}
.owl-nav {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
button.owl-prev {
	position: absolute;
	left: 1rem;
	transition: .5s;
}
button.owl-next {
	position: absolute;
	right: 1rem;
	transition: .5s;
}
button.owl-prev:hover, button.owl-next:hover {
	opacity: .5;
}
button.owl-prev a, button.owl-next a {
	background-size: contain;
	width: 67px;
	height: 67px;
	display: inline-block;
}
button.owl-prev a {
	background-image: url("../img/arrow_left.png");
}
button.owl-next a {
	background-image: url("../img/arrow_right.png");
}
.owl-dots {
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 0px;
	width: 100%;
}
div.owl-dots button.owl-dot {
	background-color: rgba(255,255,255,.5);
	border-radius: 50%;
	width: 10px;
	height: 10px;
	z-index: 1;
	margin-right: 5px;
}
div.owl-dots button.owl-dot:last-child {
	margin-right: 0;
}
.owl-dots button.owl-dot.active {
	background-color: #fff;
}
#photos {
	border-top: .5rem solid #d0b58f;
	border-bottom: .5rem solid #cbb19e;
}
.instagram, .tumblr {
	background-color: rgba(0,0,0,.85);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.instagram:hover li, .tumblr:hover li {
	opacity: .5;
}
.instagram li, .tumblr li {
	transition: .5s;
	aspect-ratio: 1;
}
.instagram li:hover, .tumblr li:hover {
	opacity: 1;
}
.instagram li a, .tumblr li a {
	line-height: 0;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	outline: none;
}
.instagram li img, .tumblr li img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	line-height: 0;
}
div.fancybox-thumbs__list a:before {
	border-color: #cbb19e;
}
div.fancybox-progress {
	background-color: #cbb19e;
}
#photos .owl-nav {
	top: 44.25%;
}
.follow-cta {
	background-color: rgba(0,0,0,.8);
	border-top: 5px solid #d0b58f;
	font-weight: 700;
	font-size: 1.25rem;
	text-transform: uppercase;
	text-align: center;
	padding: 1rem;
}
.follow-cta a {
	color: #d0b58f;
	text-decoration: none;
}
.follow-cta a:hover {
	color: rgba(208, 181, 143, .75);
}
.terms-wrapper {
	padding: 1rem;
}
.terms-wrapper:after {
	content: "";
	clear: both;
	display: table;
}
.republic {
	max-width: 73px;
	float: left;
	margin-right: .5rem;
}
.republic img {
	width: 100%;
}
.terms {
	float: left;
	margin-left: .5rem;
}
.terms ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.terms ul li {
	display: inline-block;
}
.terms ul li:after {
	content: " | ";
}
.terms ul li:last-child:after {
	display: none;
}
.terms-wrapper a {
	color: #af1946;
	text-decoration: none;
}
.terms-wrapper a:hover {
	text-decoration: underline 1px #af1946;
}
.terms p {
	margin: 0;
}
.social-wrapper {
	background-color: #333;
	text-align: right;
	padding: .5rem;
}
.social-wrapper ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.social-wrapper ul li {
	display: inline-block;
	margin-right: .5rem;
}
.social-wrapper ul li a {
	background-color: #fff;
	color: #333;
	border-radius: 50%;
	font-size: 13px;
	text-decoration: none;
	width: 25px;
	height: 25px;
	position: relative;
	padding: .4rem .375rem;
	display: inline-block;
	transition: .5s;
}
.social-wrapper ul li a.icon-envelope, .social-wrapper ul li a:hover {
	background-color: #af1946;
	color: #fff;
}
.article-header {
	min-height: 50vh;
	position: relative;
}
.article-header .background {
	height: 100%;
}
.article-header .background:after {
	content: "";
	background-color: rgb(102, 11, 18, .5);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.article-header .background img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.article-header .foreground {
	background-color: #fff;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	padding: .5rem 1.5rem;
}
.article-header .foreground h1 {
	font-weight: 400;
	font-size: 2.5rem;
	margin: 0;
}
.breadcrumbs {
	background-color: #240004;
	color: #fff;
	font-family: "futura-pt", sans-serif;
	font-size: 16px;
	padding: 1rem;
}
.breadcrumbs ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.breadcrumbs ul li {
	display: inline-block;
}
.breadcrumbs ul li:last-child {
	font-weight: 700;
}
.breadcrumbs ul li:not(.breadcrumbs ul li:last-child):after {
	content: "»";
	margin-left: .5rem;
	margin-right: .5rem;
}
.breadcrumbs ul li a {
	color: #fff;
	text-decoration: none;
}
.breadcrumbs ul li a:hover {
	color: rgba(255,255,255,.5)
}
.article-content {
	background-color: rgba(204, 187, 176, .15);
	font-family: "futura-pt", sans-serif;
	font-size: 16px;
	padding: 2rem;
	position: relative;
}
.article-inner {
	background-color: #fff;
	border: #ccc solid 1px;
	box-shadow: 0 0 1rem #ccc;
	padding: 2rem 2rem 4rem 2rem;
}
.article-inner:after {
	content: "";
	clear: both;
	display: table;
}
.article-content .article-media {
	width: 35%;
	float: left;
}
.article-content .article-body {
	width: 65%;
	float: left;
	padding: 0 .75rem;
}
.article-body p {
	margin-top: 0;
	margin-bottom: .5rem;
}
.date {
	background-color: #660b12;
	color: #fff;
	font-family: 'futura-pt-condensed';
	font-weight: 700;
	width: calc(100% - 4rem - 1.5px);
	padding: .5rem 1rem;
	position: absolute;
	left: calc(2rem + .5px);
	bottom: calc(2rem + 0.5px);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.date p {
	margin: 0;
}
.social-sharing span {
	font-family: "futura-pt", sans-serif;
	font-weight: 400;
	display: inline-block;
}
.social-sharing ul {
	padding: 0;
	margin: 0;
	margin-left: 0.5rem;
	display: inline-block;
	list-style-type: none;
}
.social-sharing ul li {
	margin-right: .5rem;
	display: inline-block;
}
.social-sharing ul li:last-child {
	margin-right: 0;
}
.social-sharing ul li a {
	color: #fff;
	text-decoration: none;
}
.social-sharing ul li a:hover {
	color: rgba(255, 255, 255, .5)
}
.videos main {
	background-color: rgba(208, 181, 143, .375);
	padding: 2rem;
}
.videos-wrapper:after {
	content: "";
	clear: both;
	display: table;
}
.videos-sidebar {
	width: 25%;
	float: left;
	padding-right: 1rem;
}
.videos-sidebar .sidebar-toggle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: .5rem;
}
.videos-sidebar .sidebar-header {
	color: rgba(0, 0, 0, .625);
	font-size: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
}
.videos-sidebar .sidebar-toggler {
	border: solid 2px rgba(0, 0, 0, .625);
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	display: none;
	position: relative;
	cursor: pointer;
}
.videos-sidebar .sidebar-toggler:before, .videos-sidebar .sidebar-toggler:after {
	content: "";
	background-color: #595550;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	transition: .5s;
}
.videos-sidebar .sidebar-toggler:before {
	width: 2px;
	height: 60%;
}
.videos-sidebar .sidebar-toggler:after {
	width: 60%;
	height: 2px;
}
.videos-sidebar ul {
	font-size: 1.25rem;
	text-transform: uppercase;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.videos-sidebar ul li {	
	display: block;
	margin-bottom: .25rem;
}
.videos-sidebar ul li a {	
	color: #000;
	text-decoration: none;
}
.videos-sidebar ul li a:hover, .videos-sidebar ul li a.category-active {	
	color: #af1946;
}
.videos-row {
	width: 75%;
	float: left;
	display: grid;
	grid-template-columns: calc(33.33% - .15rem) calc(33.33% - .15rem) calc(33.33% - .15rem);
	gap: .75rem .5rem;
}
/* .video-item {
	width: calc(33.3% - .5rem);
	margin-right: .5rem;
	margin-bottom: .75rem;
}
.video-item.show:nth-child(3n):not(.Evermore) {
	margin-right: 0;
}
.Evermore.show:nth-child(4n) {
	margin-right: 0;
} */
.filter-active .video-item:not(.show) {
	display: none;
}
.video-item .video-title {
	font-size: 1.5rem;
	font-style: italic;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: .5rem;
}
.video-item .video-title a {
	color: #000;
	text-decoration: none;
}
.video-item .video-title a:hover {
	color: #af1946;
}
.releases-nav:after {
	content: "";
	clear: both;
	display: table;
}
.releases-nav ul {
	background-color: rgba(0,0,0,.9);
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.releases-nav li {
	background-size: cover;
	aspect-ratio: 1;
	position: relative;
	overflow: hidden;
}
.releases-nav li.release-redtaylorsversion {
	background-image: url("../img/music_red_taylorsversion.png")
}
.releases-nav li.release-fearlesstaylorsversion {
	background-image: url("../img/music_fearless_taylorsversion.png")
}
.releases-nav li.release-evermore {
	background-image: url("../img/music_evermore.png")
}
.releases-nav li.release-folklore {
	background-image: url("../img/music_folklore.png")
}
.releases-nav li.release-lover {
	background-image: url("../img/music_lover.png")
}
.releases-nav li.release-reputation {
	background-image: url("../img/music_reputation.png")
}
.releases-nav li.release-1989 {
	background-image: url("../img/music_1989.png")
}
.releases-nav li.release-red {
	background-image: url("../img/music_red.png")
}
.releases-nav li.release-speak-now {
	background-image: url("../img/music_speaknow_deluxe.jpg")
}
.releases-nav li.release-fearless {
	background-image: url("../img/music_fearless_platinum.png")
}
.releases-nav li.release-taylor-swift {
	background-image: url("../img/music_ts.png")
}
.releases-nav li a {
	background-color: rgba(0,0,0,.5);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: .5s .5s;
}
.releases-nav li a:hover {
	background-color: transparent;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: .5s;
}
.releases-nav li .release-inner {
	background-color: #240004;
	color: #fff;
	font-family: "futura-pt-bold", sans-serif;
	font-size: 1.05rem;
	text-align: center;
	text-transform: uppercase;
	padding: .75rem;
	position: absolute;
	left: 0;
	bottom: -68px;
	width: 100%;
	transition: .5s;
}
.releases-nav li a:hover .release-inner {
	bottom: 0;
	transition: .5s .5s;
}
.releases-nav .owl-nav {
	top: 40%;
}
nav.releases-nav .owl-nav button.owl-prev, nav.releases-nav .owl-nav button.owl-next {
	background-color: rgba(0,0,0,.25);
	color: #fff;
	border-radius: 0;
	font-size: 2rem !important;
	padding: 1rem 1rem !important;
	outline: none;
}
.releases-nav .owl-prev {
	left: 0;
}
.releases-nav .owl-next {
	right: 0;
}
.release-item:after {
	content: "";
	background-color: rgba(0,0,0,.5);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.releases-wrapper:after {
	z-index: -1;
}
.release-item {
	position: relative;
	background-size: cover;
	background-position: right;
	width: 100%;
	height: 1577px;
	overflow: hidden;
}
.release-item.release-red2021 {
	background-image: url("../img/redtv_bg.jpg");
}
.release-item.release-fearless2021 {
	background-image: url("../img/fearlesstv_bg.jpg");
}
.release-item.release-evermore {
	background-image: url("../img/evermore_bg.png");
}
.release-item.release-folklore {
	background-image: url("../img/folklore_bg.png");
}
.release-item.release-lover {
	background-image: url("../img/lover_bg.jpg");
}
.release-item.release-reputation {
	background-image: url("../img/reputation_bg.png");
}
.release-item.release-1989 {
	background-image: url("../img/1989_bg.jpg");
}
.release-item.release-red {
	background-image: url("../img/red_bg.jpg");
}
.release-item.release-speaknow {
	background-image: url("../img/speaknow_bg.jpg");
}
.release-item.release-fearless {
	background-image: url("../img/fearless_bg.jpg");
}
.release-item.release-ts {
	background-image: url("../img/ts_bg.jpg");
}
.release-item .row {
	width: 100%;
	position: relative;
	z-index: 1;
}
.release-item .col-6 {
	padding: 1.5rem;
}
.cover-wrapper {
	margin-bottom: .5rem;
}
.release-item .col-6 .cover-wrapper img {
	width: 100%;
}
.release-item .col-6 .release-title {
	color: #cbb19e;
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: .5rem;
}
.release-item .col-6 .release-meta {
	color: #fff;
	margin-bottom: .5rem;
}
.release-item .col-6 .release-meta span {
	font-weight: 700;
}
.buy-album ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.buy-album ul li {
	display: inline-block;
}
.buy-album ul li a {
	background-color: #cbb19e;
	color: #000;
	font-size: 1.25rem;
	font-style: italic;
	text-transform: uppercase;
	text-decoration: none;
	padding: .5rem 1rem;
	margin-right: .5rem;
	display: inline-block;
	transition: .5s;
}
.buy-album ul li a:hover {
	background-color: #70000e;
	color: #fff;
}
.release-item .tracks-wrapper {
	padding-left: 0;
}
.release-item .tracks {
	background-color: rgba(0,0,0,.9);
	color: #fff;
	font-size: 16.32px;
	font-weight: 500;
	font-style: italic;
	text-transform: uppercase;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.release-item .tracks li {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: .5rem .75rem;
	border-bottom: 1px solid rgba(255, 255, 255, .5)
}
.release-item .tracks li:last-child {
	border-bottom: none;
}
.release-item.has-play .tracks .track-play {
	flex: 5%;
	position: relative;
}
.release-item .tracks .track-number {
	flex: 5%;
}
.release-item .tracks .track-title {
	flex: 90%;
}
.release-item.has-play .tracks .track-title {
	flex: 85%;
}
.release-item .tracks .track-duration {
	flex: 5%;
	text-align: center;
}
.release-item.has-play .tracks .track-play.track-disabled {
	pointer-events: none;
}
.release-item .tracks .track-play a {
	background-image: url("../img/play_icon.png");
	background-size: 10px 34px;
	background-position: 0 0;
	width: 10px;
	height: 17px;
	display: inline-block;
	position: absolute;
	left: 25%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.release-item .tracks .playing .track-play a {
	background-position: 0 17px;
}
.release-item .tracks-wrapper .small-text {
	color: #fff;
}
.releases-wrapper .owl-dots {
	bottom: 1.75rem;
	left: 1.5rem;
	width: 15px;
}
.releases-wrapper .owl-dots .owl-dot {
	border: solid 1px #fff;
	margin-right: 0;
	width: 15px;
	height: 15px;
	outline: none;
}
.audio-wrapper {
	display: none;
}
.community-login main {
	min-height: calc(100vh - 74px);
	position: relative;
	padding: .5rem;
}
.community-login main:before, .community-login main:after {
	content: "";
	background-image: url("../img/login_bg.jpg");
	background-size: cover;
	background-position: left top;
	width: 50%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.community-login main:before {
	background-image: url("../img/music_red_taylorsversion.jpg");
	background-position: center top;
	left: auto;
	right: 0;
}
.community-login main .login-body {
	position: relative;
	z-index: 1;
}
.login-body h1 {
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0;
	margin-top: 1.5rem;
	margin-bottom: .5rem;
}
.login-body h1 span {
	color: #af1946;
	display: inline-block;
	transform: skew(-5deg);
}
.row:after {
	content: "";
	clear: both;
	display: table;
}
.col-6 {
	width: 50%;
	float: left;
}
.community-form-wrapper {
	background-color: #af1946;
	color: #fff;
	border-radius: 25px;
	padding: 1.5rem;
	margin-bottom: 1rem;
}
.community-form-wrapper h2 {
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: .5rem;
}
.community-form-wrapper h2 span {
	transform: skew(-5deg);
	display: inline-block;
}
.community-form-wrapper form, .community-form-wrapper .form-help {
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: .8rem;
}
.community-form-wrapper .form-input {
	margin-bottom: .25rem;
}
.community-form-wrapper .form-input:after {
	content: "";
	clear: both;
	display: table;
}
.community-form-wrapper .form-input label {
	width: 35%;
	margin-top: .375rem;
	float: left;
}
.community-form-wrapper .form-input input {
	background-color: #fff;
	color: #000;
	border: solid 1px #000;
	border-radius: 0;
	font-size: .8rem;
	padding: .25rem;
	width: 65%;
	float: left;
}
.community-form-wrapper .form-input input:focus {
	outline: none;
}
.community-form-wrapper .form-submit:after {
	content: "";
	clear: both;
	display: table;
}
.community-form-wrapper .form-submit input[type="submit"] {
	background-color: #fff;
	border: none;
	border-radius: 0;
	font-family: "futura-pt-condensed", sans-serif;	
	font-weight: 700;
	letter-spacing: .5px;
	text-transform: uppercase;
	padding: .25rem .75rem;
	float: right;
	cursor: pointer;
	transition: .5s;
}
.community-form-wrapper .form-submit input[type="submit"]:hover {
	background-color: rgba(255,255,255,.75);
}
.mailing-list {
	background-image: url("../img/mailinglist_bg.jpg");
	background-size: cover;
}
.mailing-list main {
	padding: 4.75rem 1rem;
	max-width: 631.67px;
	min-height: calc(100vh - 74px);
}
.mailing-list main h1 {
	color: #d0b58f;
	font-size: 2.5rem;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
}
.mailing-list main form:after {
	content: "";
	clear: both;
	display: table;
}
.mailing-list main .form-section {
	width: 50%;
	float: left;
	padding: .5rem;
	position: relative;
}
.mailing-list main .form-section input, .mailing-list main .form-section select {
	background-color: transparent;
	border: none;
	border-bottom: solid #cbb19e 2px;
	color: #cbb19e;
	font-family: inherit;
	font-size: 1.15rem;
	text-transform: uppercase;
	letter-spacing: .5px;
	padding: .5rem;
	width: 100%;
}
.mailing-list main .form-section input::placeholder {
	color: #cbb19e;
}
.mailing-list main .form-section select {
	background-image: url("../img/chevron.png");
	background-size: 1rem;
	background-repeat: no-repeat;
	background-position: center right;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	padding: .58375rem .5rem;
	cursor: pointer;
}
.mailing-list main .form-section input:focus, .mailing-list main .form-section select:focus {
	outline: none;
}
.signup-terms {
	color: #fff;
	text-align: center;
	padding: .5rem;
	width: 100%;
	float: left;
}
.signup-terms p {
	margin-top: 0;
	margin-bottom: .5rem;
}
.signup-terms p:last-child {
	margin-bottom: 0;
}
.signup-terms p a {
	color: #fff;
	text-decoration: underline 1px;
	transition: .5s;
}
.signup-terms p a:hover {
	color: #d0b58f;
}
.submit-container {
	width: 100%;
	float: left;
}
.mailinglist-submit {
	background-color: #cbb19e;
	color: #660b12;
	font-family: inherit;
	font-style: italic;
	font-size: 1.75rem;
	text-transform: uppercase;
	border: none;
	display: block;
	padding: .5rem 1.5rem;
	margin: .5rem auto;
	cursor: pointer;
	transition: .5s;
}
.mailinglist-submit:hover {
	background-color: #660b12;
	color: #cbb19e;
}
.mailing-list footer {
	background-color: #fff;
}
@media screen and (max-width: 1144px) {
	.slide-2 .sms-cta {
		left: 30%;
		top: 30%;
		width: 50%;
	}	
	.slide-2 .sms-cta-header {
		font-size: 2.375rem;
		line-height: 1;
	}
	.slide-2 .sms-cta-subtitle {
		font-size: 1.25rem;
		text-align: center;
		padding-left: 0;
		margin-top: 1rem;
	}
}
@media screen and (max-width: 767px) {
	.dropdown {
		display: none;
	}
	.nav-toggler {
		z-index: 4;
		cursor: pointer;
		transition: .5s;
	}
	.mobile-nav-open .nav-toggler {
		transform: translateX(-14px);
	}
	.nav-toggler span {
		background-color: #000;
		width: 30px;
		height: 3px;
		margin-bottom: 5px;
		display: block;
		transition: .5s;
	}
	.nav-toggler span:last-child {
		margin-bottom: 0;
	}
	.mobile-nav-open .nav-toggler span {
		background-color: #fff;
	}
	.mobile-nav-open .bar-1 {
		transform: rotate(135deg) translate(-6px, -15.5px);
	}
	.mobile-nav-open .bar-2 {
		transform: translateX(calc(1.5rem + 14px));
		opacity: 0;
	}
	.mobile-nav-open .bar-3 {
		/* transform: rotate(-135deg) translate(-5px, 5.375px); */
		transform: rotate(-135deg) translate(-4.5px, 17.375px);
	}
	.navbar-wrapper .navbar {
		background-color: #af1946;
		font-size: 1.5rem;
		padding: 1.5rem;
		width: 100%;
    		height: 100%;
		position: fixed;
		left: -100%;
		top: 0;
		z-index: 3;
    		transition: .5s;
	}
	.mobile-nav-open .navbar-wrapper .navbar {
		left: 0;
	}
	.navbar-wrapper .navbar ul li {
		display: block;
		margin: 0;
	}
	.navbar-wrapper .navbar ul li.dropdown-wrapper {
		display: none;
	}
	.navbar-wrapper .navbar ul li a {
		color: #fff;
	}
	.navbar-wrapper .navbar ul li a.dropdown:after {
		border-color: #fff transparent transparent transparent;
	}
	.navbar-wrapper .navbar ul li a:hover {
		color: rgba(255, 255, 255, .5);
	}
	.navbar-wrapper .navbar ul li a.dropdown:hover:after {
		border-color: rgba(255, 255, 255, .5) transparent transparent transparent;
	}
	.community-actions-mobile {
		background-color: #660b12;
		padding: .5rem;
		position: absolute;
		bottom: 1.5rem;
		width: calc(100% - 3rem);
		display: block;
	}
	.community-actions-mobile li:not(.community-actions-mobile li:last-child) {
		margin-bottom: .5rem;
	}
	.community-actions-mobile a.community-btn {
		background-color: #cbb19e;
		color: #000 !important;
		font-size: 1.1rem;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 1px;
		padding: .25rem .5rem;
		display: block;
		transition: .5s;
	}
	#home .owl-nav {
		top: 50%;
	}
	.slide-2 .slide-layer.layer-1, .slide-3 .slide-layer.layer-1 {
		left: 50%;
		transform: translate(-50%,-50%);
		width: 100%;
	}
	.slide-4 .sms-cta {
		left: 50%;
		top: 50%;
		width: 100%;
	}
	.slide-4 .sms-cta-subtitle {
		text-align: center;
		padding: 0;
	}
	/* #about {
		background-size: 200vh;
	} */
	#about {
		background-position: /* 145vw */ 100vw top;
	}
	#about h1 {
		text-align: center;
		max-width: 450px;
		margin: auto;
	}
	.bio-wrapper {
		margin-top: 1rem;
	}
	.bio-wrapper, .note-wrapper {
		margin-left: auto;
		margin-right: auto;
	}
	.bio-wrapper p, .note-wrapper .note p {
		font-family: "futura-pt", sans-serif;
		font-size: 16px;
	}
	/* #events {
		background-size: 175vh ;
	} */
	#news .owl-stage-outer {
		display: initial;
	}
	#news .news-item  {
		width: 75%;
	}
	#news .news-content h3 {
		font-size: 1.25rem;
	}
	#news .news-excerpt {
		font-size: .95rem;
		height: 74px;
	}
	#news .owl-nav {
		top: 44.5%;
	}
	#news .owl-prev {
		left: 0;
	}
	#news .owl-next {
		right: 0;
	}
	#videos .video-title-inner {
		width: 100%;
		left: 50%;
	}
	.instagram, .tumblr {
		grid-template-columns: 1fr 1fr;
	}
	.owl-nav {
		top: 34.5%;
	}
	.terms-wrapper {
		font-family: "futura-pt", sans-serif;
		font-size: 16px;
	}
	.republic {
		float: none;
		margin: 0 auto .5rem;
	}
	.terms {
		text-align: center;
		float: none;
		margin-left: 0;
	}
	.social-wrapper {
		text-align: center;
	}
	.social-wrapper nav li:last-child {
		margin-right: 0;
	}
	.article-header .foreground h1 {
		font-size: 2rem;
	}
	.article-content .article-media, .article-content .article-body {
		width: 100%;
	}
	.article-content .article-body {
		margin-top: .75rem;
	}
	.videos-sidebar, .videos-row {
		padding-right: 0;
		margin-bottom: .5rem;
		width: 100%;
	}
	.videos-sidebar .sidebar-toggle {
		margin-bottom: 0;
	}
	.videos-sidebar .sidebar-toggler {
		display: inline-block;
	}
	.videos-sidebar.sidebar-open .sidebar-toggler:before {
		opacity: 0;
	}
	.videos-sidebar ul {
		height: 0;
		overflow: hidden;
		transition: .5s;
	}
	.videos-sidebar.sidebar-open ul {
		height: 289.333px;
	}
	.videos-row {
		grid-template-columns: 100%;
		gap: .75rem 0;
	}
	/*.videos-row .video-item {
		max-width: 100%;
		flex: 100%;
	}*/
	.release-item {
		height: 2069px;
	}
	.release-item .tracks-wrapper {
		padding-left: 1.5rem;
	}
	.release-item.has-play .tracks .track-title {
		flex: 77%;
	}
	.col-6 {
		width: 100%;
	}
	.col-6 label[for="user"] {
		margin-top: 0;
	}
	.mailing-list main .form-section {
		width: 100%;
	}
}
/* CSS Fitting Text
.release-item .tracks {
	font-size: 1.375vw;
}
@media screen and (max-width: 675px) {
	.release-item .tracks {
		font-size: 2vw;
	}
}
@media screen and (max-width: 600px) {
	.release-item .tracks {
		font-size: 2.375vw;
	}
}
@media screen and (max-width: 500px) {
	.release-item .tracks {
		font-size: 3.375vw;
	}
}
@media screen and (max-width: 425px) {
	.release-item .tracks {
		font-size: 3.75vw;
	}
}
@media screen and (max-width: 400px) {
	.release-item .tracks {
		font-size: 3.85vw;
	}
}
@media screen and (max-width: 350px) {
	.release-item .tracks {
		font-size: 4vw;
	}
} */
